@import 'breakpoints';

@mixin position-big-circle {
   position: absolute;
   top: 0;
   right: 0;
   height: 80%;
   z-index: -1;
   opacity: 0.4;
}

@mixin position-medium-circle {
   position: absolute;
   top: 30%;
   right: 30%;
   height: 60%;
   z-index: -1;
   opacity: 0.4;
}

@mixin position-small-circle {
   position: absolute;
   bottom: 0;
   left: 20%;
   z-index: -1;
}

@mixin img-commentaries {
   border-radius: 50%;
   border: 5px solid #868383;
   text-align: center;
   object-fit: cover;
   width: 50%;
   height: 235px;
   @include v-small {
      height: 160px;
      width: 65%;
   }
}