@import '../abstracs/breakpoints';
@import '../abstracs/variables';
@import '../abstracs/mixins';
@import '../base/typography';

.commentaries {
   grid-area: comments;
   align-self: center;
}

.comment {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.arrow-left__element, .arrow-rigth__element {
   font-size: 3rem;
   cursor: pointer;
   color: #551a8b;
}

.people {
   display: flex;
   width: 75%;
   // display: none;
   // flex-direction: column;
   &__item-one {
      text-align: center;
      margin: 0 25px;
      transition: all 0.8s ease-in-out;
   }
   &__item-two {
      display: none;
      text-align: center;
      margin: 0 25px;
      transition: all 0.8s ease-in-out;
   }
   &__img {
      @include img-commentaries;
   }
   &__wrap-text {
      background: lightgrey;
      padding: 40px;
      border-radius: 10px;
      position: relative;
      & .fa-quote-left {
         position: absolute;
         left: 10px;
         top: 15px;
         font-size: 2.5rem;
         color: #5f5f795e;
      }
      & .fa-quote-right {
         position: absolute;
         right: 10px;
         bottom: 15px;
         font-size: 2.5rem;
         color: #5f5f795e;
      }
   }
   &__text::first-letter {
      font-size: 1.5rem;
      color: $colorBtn;
      font-family: Rubik;
      font-weight: 900;
   }
}

