@import '../abstracs/breakpoints';
@import '../abstracs/variables';
@import '../abstracs/mixins';
@import '../base/typography';
@import '../components/button';

.content {
   grid-area: conten;
   background: $background;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
   @include v-small {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
   }
}

.tittle-product {
   font-size: 2rem;
   text-align: center;
   margin-top: 2rem;
}

.laptops {
   &__dell {
      margin: 2.5rem 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      @include v-large {
         flex-flow: row;
         align-items: center;
         justify-content: center;
         margin: 3rem 0;
      }
   }
   &__thumbnail {
      width: 90%;
      margin: auto;
      background: #fff;
      border-radius: 10px;
      padding: 12px;
      display: flex;
      align-items: center;
      box-shadow: 0px 0px 18px 8px #888585;
      @include v-large {
         width: 45%;
         margin: 0 10px;
         transition: all 1.5s .2s ease-in-out;
         will-change: transition, transform;
         &:hover {
            width: 50%;
            transform: rotateZ(4deg);
         }
      }
   }
   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
   }
   &__feature {
      width: 100%;
      text-align: center;
      @include v-large {
         width: 50%;
         margin: 0 15px;
      }
   }
   &__tittle {
      margin: 25px 0 10px;
      font-size: 1.8rem;
   }
   &__text {
      @include v-large {
         text-align: justify;
      }
   }
   .wrap-btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px 0;
      @include v-large {
         padding: 20px 0;
      }
   }
   &__buttons {
      @include btn;
      margin: 8px 5px;
      @include v-large {
         margin: 0 15px 10px 0;
      }
      &--active {
         background: $colorBtn;
         color: #fff;
         &:hover {
            background: linear-gradient(to right, #d276c9eb, #ec67e1d4);
         }
         &:active {
            color: $colorFont;
         }
      }
   }
   &__macbook {
      margin: 2.5rem 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      @include v-large {
         flex-flow: row-reverse;
         align-items: center;
         justify-content: center;
         margin: 3rem 0;
      }
   }
}