@import '../abstracs/variables';
@import '../abstracs/breakpoints';
@import '../base/typography';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: $font;
   color: $colorFont;
   display: grid;
   height: 2000px;
   grid-template: 60px 92vh 2fr 1fr 1fr / 1fr;
   grid-template-areas: 
      "header"
      "main"
      "conten"
      "comments"
      "footer";
}

.container {
   width: 90%;
   margin: 0 auto;
}